/* Display items left to right, top to bottom, with small separation. */
/* .visualdict-captcha-item {
  float: left;
  border: 4px solid transparent;
  margin: 1px;
  line-height: 0;
}*/

/* Indicate when an image is selected. */
.visualdict-captcha-item-image-selected {
  border-color: darkorange;
}

/* Position response checkbox relative to bottom-right item corner. */
.visualdict-captcha-item {
  position: relative;
}
.visualdict-captcha-item-response {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.visualdict-captcha-item-response .form-type-checkbox {
  margin: 0;
}
